.weatherApp {
    background-color: #5A1FCD;
    width: 70rem;
    margin-top: 5rem;
    border-radius: .3rem;
    height: 35rem;
    overflow: hidden;
}

.wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin-top: 1rem;
}