.weatherApp {
    background-color: rgba(90,31,205,.75);
    width: 70rem;
    max-width: 95%;
    border-radius: .3rem;
    overflow: hidden;
    margin-bottom: 2.5rem;
}

.wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin: 1rem 0;
}

/*-- media queries --*/
@media(max-width: 1025px) {
    .wrapper {
        flex-direction: column;
    }
}