.hourly {
    height: 13rem;
    background-color: #652BD7;
    width: 92%;
    border-radius: .3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90%;
    width: 95%;
}

.listItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #5A1FCD;
    color: white;
    width: 30.5%;
    height: 100%;
    border-radius: .3rem;
}

.listItem img {
    width: 3.3rem;
    opacity: .75;
    margin: .75rem 0;
}

.listItem h5 {
    font-size: 1.2rem;
    font-weight: 500;
}

.listItem span {
    font-size: 1.85rem;
    font-weight: 600;
}

/*-- media queries --*/
@media(max-width: 1025px) {
    .hourly {
        margin-top: 0;
        width: 90%;
        margin-left: .5rem;
    }
}

@media(max-width: 675px) {
    .hourly {
        margin: 0;
        width: 100%;
    }
}