.zipcode {
    margin: 2.5rem auto 2rem;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 30rem;
    max-width: 100%;
}

.input {
    background-color: #5A1FCD;
    border: none;
    width: 65%;
    height: 2.5rem;
    border-radius: .3rem;
    outline: none;
    color: white;
    font-weight: 500;
    letter-spacing: .1rem;
    font-size: 1rem;
    text-indent: .5rem;
    opacity: .9;
}

.button {
    border: none;
    color: white;
    opacity: .9;
    background-color: #5A1FCD;
    letter-spacing: .1rem;
    font-size: 1rem;
    border-radius: .3rem;
    padding: .7rem 0;
    width: 32%;
    outline: none;
}

.button:hover {
    cursor: pointer;
}

::-webkit-input-placeholder {
    color: white;
    font-weight: 500;
    letter-spacing: .1rem;
    font-size: 1rem;
    opacity: .95;
}

/*-- media queries --*/
@media(max-width: 725px) {
    .wrapper {
        flex-direction: column;
        min-width: 100%;
    }

    .input {
        width: 100%;
        margin: 0 0 .75rem;
        height: 3.3rem;
        text-align: center;
        text-indent: 0;
    }

    ::-webkit-input-placeholder {
        font-size: 1.15rem;
    }

    .button {
        width: 100%;
        margin: 0;
        padding: 1rem 1.5rem;
        font-size: 1.15rem;
    }
}