.currentConditions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 2;
}

/*-- media queries --*/
@media(max-width: 1025px) {
    .currentConditions {
        flex-direction: row;
        width: 95%;
        margin: 0 auto;
        justify-content: space-between;
    }
}

@media(max-width: 725px) {
    .currentConditions {
        flex-direction: column;
    }
}