* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
    background-color: #4D11C4;
}

.app {
    display: flex;
    justify-content: center;
    align-items: center;
}