.header {
    background-color: #652BD7;
    height: 6rem;
    padding: .1rem;
    color: white;
}

.header h2 {
    margin-left: 3rem;
    margin-top: 1.25rem;
    font-size: 1.75rem;
    font-weight: 600;
    letter-spacing: .15rem;
}

.header span {
    margin-left: 3rem;
    margin-top: .5rem;
    font-size: 1rem;
    opacity: .75;
    letter-spacing: .1rem;
}