.header {
    background-color: #652BD7;
    padding: .1rem;
    color: white;
}

.header h2 {
    margin-left: 2rem;
    font-size: 1.75rem;
    font-weight: 600;
    letter-spacing: .15rem;
    max-width: 85%;
}

.header span {
    margin: .5rem 0 0 2rem;
    font-size: 1rem;
    opacity: .75;
    letter-spacing: .1rem;
    display: inline-block;
}

.wrapper {
    margin: 1.25rem 0;
}